<%- include('partials/header') -%>

<section class="quiz">
  <div class="question-and-answer">
    <div class="question">


      <%  if (questionNumber > 0 && randomQuestion !== "You've finished!") { %>
      <h4>Question
        <%= questionNumber %> out of 10</h4>
      <%  } %>

      <h3>
        <%= randomQuestion %>
      </h3>

      <form action="/quiz" id="choices" method="post">
        <% if (questionNumber == 0) { %>
        <p>It's best to read through the rest of the website first. Googling the answers takes away the fun. Good luck! 😀</p>
        <% } else { %>
          <input type="<%= inputType %>" id="questionChoice1" name="<%= inputName %>" value="a">
          <label for="questionChoice1">
            <%= choice1 %></label>
          <input type="<%= inputType %>" id="questionChoice2" name="<%= inputName %>" value="b">
          <label for="questionChoice2">
            <%= choice2 %></label>
          <input type="<%= inputType %>" id="questionChoice3" name="<%= inputName %>" value="c">
          <label for="questionChoice3">
            <%= choice3 %></label>
          <input type="<%= inputType %>" id="questionChoice4" name="<%= inputName %>" value="d">
          <label for="questionChoice4">
            <%= choice4 %></label>
        <% } %>

        <%  if (questionNumber > 0 && randomQuestion !== "You've finished!") { %>
        <button type="submit" class="btn btn-lg submit-answer">Submit Answer</button>
        <%  } else { %>
        <button type="submit" class="btn btn-lg submit-answer">Begin Quiz</button>
        <%  } %>


      </form>
    </div>
  </div>

</section>

<!-- <section class="feedback">
  <div class="feedback-body">
    <i class="fas fa-check"></i>
    <h1 id="feedback-header">Correct!</h1>
    <p id="feedback-text">That's right!</p>
  </div>
</section> -->

<!-- <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="feedback-body">
      <div class="modal-header">
        <i class="fas fa-check"></i>
        <h1 class="modal-title">Correct!</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>That's right!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->





<%- include('partials/footer') -%>
