<%- include('partials/header') -%>

<section class="quiz">
  <div class="question-and-answer general-padding">
    <div class="question">


      <%  if (questionNumber > 0 && randomQuestion !== "You've finished!") { %>
      <h4 class="question-number">Question
        <%= questionNumber %>/10:</h4>
      <%  } %>

      <h3 class="random-question">
        <%= randomQuestion %>
      </h3>

      <form action="/quiz" id="choices" method="post">
        <% if (questionNumber == 0) { %>
        <p>It's best to read through the rest of the website first. Googling the answers takes away the fun. Good luck! 😀</p>
        <% } %>
        <% if (questionNumber > 0 && randomQuestion !== "You've finished!") { %>
          <div class="choices-container">
            <span>
              <input type="<%= inputType %>" id="questionChoice1" name="<%= inputName %>" value="a">
              <label for="questionChoice1">
                <%= choice1 %></label>
            </span>
            <span>
              <input type="<%= inputType %>" id="questionChoice2" name="<%= inputName %>" value="b">
              <label for="questionChoice2">
                <%= choice2 %></label>
            </span>
            <span>
              <input type="<%= inputType %>" id="questionChoice3" name="<%= inputName %>" value="c">
              <label for="questionChoice3">
                <%= choice3 %></label>
            </span>
            <span>
              <input type="<%= inputType %>" id="questionChoice4" name="<%= inputName %>" value="d">
              <label for="questionChoice4">
                <%= choice4 %></label>
            </span>
          </div>


        <% } %>
        <% if (randomQuestion === "You've finished!") { %>
          <p>Congratulations!</p>
        <% } %>

        <%  if (questionNumber > 0 && randomQuestion !== "You've finished!") { %>
          <button type="submit" class="btn btn-lg submit-answer">Submit Answer</button>
        <%  } else if (questionNumber == 10) { %>
          <button type="submit" class="btn btn-lg submit-answer">Get Score</button>
        <% } else { %>
          <button type="submit" class="btn btn-lg submit-answer">Begin Quiz</button>
        <%  } %>


      </form>
    </div>
  </div>

</section>




<%- include('partials/footer') -%>
